[submodule "public"]
	path = public
	url = https://github.com/aishpant/aishpant.github.io.git
	branch = master
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
